.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.container {
  height: 300px;
  width: auto;
  padding: 1px;
  background-color: #fff;

  border-radius: 0.8rem;
  box-sizing: border-box;
}

.chart-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
